<%= form_for [:admin, @item] do |f| %>
  <div class="control-group">
    <%= f.label :category_id, 'Category', :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :category_id, Category.all, :id, :name, {}, :class => 'collection_select' %>
    </div>
  </div>
  <% if is_new %>
  <% else %>
    <p>
      <div class="control-group">
        <%= f.label :retired, 'Item Status', :class => 'control-label' %>
        <div class="controls" id='retired-status'>
          <%= f.label 'retired_false', 'Active' %>
          <%= f.radio_button :retired, false, :class => 'radio_button' %>
          <%= f.label 'retired_true', 'Retired' %>
          <%= f.radio_button :retired, true, :class => 'radio_button' %>
        </div>
      </div>
    </p>
  <% end %>
  <p>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field', :placeholder => 'Name' %>
      </div>
    </div>
  </p>
  <p>
    <div class="control-group">
      <%= f.label :price, :class => 'control-label' %>
      <div class="controls">
        $<%= f.number_field :price, min: 0, step: 0.01, :class => 'number_field', :placeholder => 'Price' %>
      </div>
    </div>
  </p>
  <p>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area', :placeholder => 'Description' %>
      </div>
    </div>
  </p>
  <div class="control-group">
    <%= f.label :img, 'Image', :class => 'control-label' %>
    <div class="controls">
      <% if is_new %>
        <%= f.text_field :img, :class => 'text_field', :value => 'http://thelivingroom.cafe/wp-content/uploads/2016/01/coming-soon-product-image.png' %>
      <% else %>
        <%= f.text_field :img, :class => 'text_field' %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="form-actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
