<div class="categories-navi transparent">
  <div class="col-xs-offset-3 col-sm-offset-4 col-xs-6 col-md-4 text-center transparent">
    <div class="thumbnail">
      <div class="caption bottom-align">
        <h1>Your Cart:</h1>
        <hr>
        <br></br>
        <% @items.each do |item| %>
          <img class='cart-img' src='<%= item.img %>'/><br>
          <br></br>
          <strong><%= item.name %> <%= number_to_currency(item.price) %></strong>
          <br></br>
          Quantity: <%= @cart.quantity(item) %>
          <br></br>
          <div class="col-md-2 col-md-offset-4">
            <%= button_to '-', decrement_path(id: item.id), method: :put, class: "btn btn-danger" %>
          </div>
          <div class="col-md-2 col-md-offset-0">
            <%= button_to '+', increment_path(id: item.id), method: :put, class: "btn btn-primary" %>
          </div>
          <br></br>
          <%= item.description %>
          <br></br>
          Item Total: <%= number_to_currency(@cart.item_total(item)) %>
          <br></br>
          <%= button_to "Remove", cart_path(id: item.id), method: :delete, class: "button btn" %>
          <br></br>
          <hr>
        <% end %>
        <h3>Total: <%= number_to_currency(@cart.total) %></h3>
      </div>
    </div>
    <div class="thumbnail">
      <% if current_user %>
        <strong><%= button_to "Create Order", orders_path, method: :post unless @items.count == 0 %></strong>
        <br></br>
        <strong><%= link_to "Past Orders", orders_path %></strong>
      <% else %>
        <%= link_to "Login", login_path %> or <%= link_to "Create Account", new_user_path %> to Checkout.
      <% end %>
      <br></br>
    </div>
  </div>
</div>
