
 <h1>Your Cart</h1>
<div class="col-xs-offset-3 col-sm-offset-0 col-xs-6 col-md-4 col-lg-3 skill-container">
  <div class="thumbnail">
    <div class="caption bottom-align">
      <% @items.each do |item| %>
        <img src='<%= item.img %>' style="max-height: 100px; max-width: 100px;" /><br>
        <%= item.name %> <%= number_to_currency(item.price) %>
        Quantity: <%= @cart.quantity(item) %>
        <%= button_to '+', increment_path(id: item.id), method: :put, class: "button btn" %> <%= button_to '-', decrement_path(id: item.id), method: :put, class: "button btn" %>
        <%= item.description %>
        <br></br>
        Item Total: <%= @cart.item_total(item) %>
        <br></br>
        <%= button_to "Remove", cart_path(item), method: :delete %><br><br>
      <% end %>
</div>
</div>
</div>
<p>Total: <%= number_to_currency(@cart.total) %></p>
<br>
<% if current_user %>
  <%= link_to "Past Orders", orders_path %>
  <br>
  <%= link_to "Checkout", orders_path, method: :post unless @items.count==0 %>
<% else %>
  <%= link_to "Login", login_path %> or <%= link_to "Create Account", new_user_path %> to Checkout.
<% end %>
