
<h1>Your Cart</h1>
<p>Amount: $ <%= @cart.total %></p>
<%@items.each do |item| %>
<%= item.name %>
<br></br>
$<%= item.price %>
<br></br>
quantity: <%=@cart.contents[item.id.to_s]%>
<br></br>
<br></br>
<%end  %>
<br></br>
<%= link_to "Past Orders",orders_path %>
<br></br>
<%= link_to "Checkout", orders_path, method: :post %>
