
<h1>Your Cart</h1>
<% @items.each do |item| %>
  <img src='<%= item.img %>' style="max-height: 100px; max-width: 100px;" /></br>
  <%= item.name %> $<%= item.price %>        quantity: <%= @cart.contents[item.id.to_s] %>
  <br>
  <%= item.description %>
  <br>
<% end %>
<p>Total: $<%= @cart.total %></p>
