<!DOCTYPE html>

<h3>Thanks for ordering with us, <%= @user.username %>!</h3>
<p>Find your order details below.</p>
<br>
<br>
<h3>Order Number: <%= @order.id %></h3>
<strong>Order Status:</strong> <%= @order.status %>
<% if @order.status == "Completed" %>
  Order Complete
  <%= "Submitted at #{@order.updated_at}" %>
<% end %>
<br></br>
<strong>Placed on:</strong> <%= @order.created_at %>
<br>
<% @order.items.each do |item| %>
    <h4><%= item.name %> - Quantity: <%= item.quantity(@order.id) %> - Item Total: $<%= @order.amount %></h4>
    <br></br>
    <strong>Item Total:</strong> <%= number_to_currency(item.sub_total(@order.id)) %>
<% end %>
<br>
<br>
<strong>Total:</strong> $<%= number_to_currency(@order.amount) %>
<br>
<br>
<h1>Thanks for shopping with Westeros Outfitters!</h1>
