<div class="col m6 offset-m3 s12 card z-depth-3 pushdown">
  <div class="login">
    <h2>Create an Account</h2>

    <%= form_for @user do |f| %>
      <div class="control-group">
        <%= f.label :username, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :username, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :address, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :address, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :email, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password, :class => 'text_field' %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.hidden_field :role, :value => "default" %>
        <%= f.submit 'Submit', :class => 'btn btn-primary' %>
      </div>
    <% end %>
    </div>
  </div>
</div>
