<div class="categories-nav">
  <div class="col-xs-offset-3 col-sm-offset-0 col-xs-6 thumbnail text-center categories-nav">
    <h3>Order Number: <%= @order.id %></h3>
    <strong>Order Status:</strong> <%= @order.status %>
    <br>
    <strong>Amount:</strong> <%= number_to_currency(@order.amount) %>
    <br></br>
    <% if @order.status == 'Ordered' %>
      <strong><%= button_to "Checkout", charges_path(order_id: @order), method: :post %></strong>
    <% elsif @order.status == 'Paid' %>
      <strong>Placed on:</strong> <%= @order.created_at %>
    <% end %>
  </div>
</div>
<br></br>
<br></br>
<br></br>
<br></br>
<% @order.items.each do |item| %>
<div class="categories-nav">
  <div class="thumbnail text-center">
    <img src='<%= item.img %>' style="max-height: 100px; max-width: 100px;" /><br>
    <strong><%= link_to "#{item.name}", item_path(item) %></strong>
    <br>
    <%= item.description %>
    <br></br>
    <strong>Quantity:</strong> <%= item.quantity(@order.id) %>
    <br></br>
    <strong>Item Total:</strong> <%= number_to_currency(item.sub_total(@order.id)) %>
  </div>
</div>
<% end %>
<br>
