<h2>All Items</h2>
<div class="thumbnail">
<%@categories.each do |category| %>
<a href="/<%=category.name%>"><%= category.name.capitalize%>|</a>
<%end %>
</div>


<p>
<%@items.each do |item| %>
  <div class="caption bottom-align">
    <ul class="rig columns-3">
      <li>
        <img class ="index-image" src="<%=item.img%>" alt="...">
        <strong><%= item.name%></strong>
        <br>
        $<%= item.price %>
        <br>
        <%= item.description%>
        <p><%= button_to "Add to Cart", cart_path(id: item.id), class: "button btn"%></p>
      </li>
    </ul>
  </div>
<% end %>
</p>
