<div class ="categories-nav row">
  <div class="col-xs-offset-3 col-xs-6 text-center">
    <h2>All Items</h2>
    <div class = " thumbnail">
      <%@categories.each do |category| %>
      <strong><a href="/<%=category.name%>"><%= category.name.capitalize%>   |</a></strong>
      <%end %>
    </div>
  </div>
</div>
<br></br>
<div>
  <ul class="row transparent">
    <%@items.each do |item| %>
    <li class="item col-md-3 col-xs-6">
      <img class ="index-image" src="<%=item.img%>" alt="...">
      <h4><strong><%= link_to item.name, item_path(item) %></strong></h4>
      <%= number_to_currency(item.price) %>
      <h4><strong><%=link_to "Item Retired",item_path(item.id) if item.retired%></strong></h4>
      <div class="item-description">
        <p><%= item.description%></p>
      </div>
      <%= button_to "Add to Cart", cart_path(id: item.id), class: "button btn bottom-right" unless item.retired%>
    </li>
    <% end %>
  </ul>
</div>
