<div class="col-xs-offset-3 col-sm-offset-4 col-xs-6 col-md-4 col-lg-6 text-center col-centered transparent">
  <div class="thumbnail">
    <strong><a href="/items">Back to All Items</a></strong>
  </div>
</div>
<h1 class="banner home transparent">
  <strong class="banner-content"><%= @item.name %></strong>
</h1>
<div class="col-xs-offset-3 col-sm-offset-4 col-xs-6 col-md-9 col-lg-6 col-centered transparent">
  <div class="thumbnail">
    <div class="caption bottom-align text-center">
      <% if current_admin? %>
      <strong><%= link_to "Edit This Item", edit_admin_item_path(@item) %></strong>
      <% end %>
        <br>
        <div class="col-centered text-center transparent">
          <p>
            <%= image_tag(item.img, class: "show-image center-block", alt: item.name) %>
            <br>
            <strong><%= number_to_currency(@item.price) %></strong>
            <br></br>
            <%= @item.description %>
            <%= button_to "Add to Cart", cart_path(id: @item.id), class: "btn btn-success" unless @item.retired%>
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
