<h1><%= @name.capitalize %></h1>
<div class="thumbnail">
  <a href="/items">Back to Items</a>
</div>
<p>
<%@items.each do |item| %>
    <div class="caption bottom-align">
      <ul class="rig columns-3">
        <li>
          <img class ="index-image" src="<%=item.img%>" alt="...">
          <%= item.name%>
          <br>
          $<%= item.price %>
          <br>
          <%= item.description%>
          <h4><strong><%=link_to "Item Retired",item_path(item.id) if item.retired%></strong></h4>
          <p><%= button_to "Add to Cart", cart_path(id: item.id), class: "button btn" unless item.retired%></p>        </li>
      </ul>
    </div>
  <%end %>
</p>
