<h1><%= @name.capitalize %></h1>
<div class="categories-nav">
<div class="thumbnail">
  <strong><a href="/items">Back to Items</a></strong>
</div>
</div>
<p>
<div class="caption bottom-align">
<ul class="row transparent">
  <%@items.each do |item| %>
    <li class="item col-md-3 col-xs-6">
          <img class ="index-image" src="<%=item.img%>" alt="...">
          <%=item.name%>
          <br>
          <%= number_to_currency(item.price) %>
          <br>
          <div class="item-description">
          <%= item.description%>
          </div>
          <h4><strong><%=link_to "Item Retired",item_path(item.id) if item.retired%></strong></h4>
          <p><%= button_to "Add to Cart", cart_path(id: item.id), class: "button btn bottom-right" unless item.retired%></p>        </li>
        </li>
      <% end %>
    </ul>
  </div>

</p>
