<h1><%= @name.capitalize %></h1>

<% @items.each do |item| %>
  <img src='<%= item.img %>'></br>
  <%= item.name %><br>
  <%= item.price %><br>
  <p><%= button_to "Add to Cart", cart_path(id: item.id), class: "button btn"%></p>
<% end %>
