<div class ="categories-nav row">
  <h1 class="banner home">
    <strong class="banner-content"><%= @name.capitalize %></strong>
  </h1>
  <div class="col-xs-offset-3 col-xs-6 text-center">
    <div class="thumbnail">
      <strong><a href="/items">Back to Items</a></strong>
    </div>
  </div>
</div>
<div>
  <ul class="row transparent col-xs-offset-1">
    <% @items.each do |item| %>
      <li class="item col-md-3 col-xs-6 text-center">
        <%= image_tag(item.img, class: "index-image img-responsive center-block", alt: "...") %>
        <h4><strong><%= link_to item.name, item_path(item) %></strong></h4>
        <%= number_to_currency(item.price) %>
        <h4><strong><%= link_to "Item Retired",item_path(item.id) if item.retired %></strong></h4>
        <br>
        <div class="item-description">
          <p><%= item.description %></p>
        </div>
        <%= button_to "Add to Cart", cart_path(id: item.id), class: "btn btn-success bottom-right" unless item.retired %>
      </li>
    <% end %>
  </ul>
</div>
