<div id="stripe_payment" class="container categories-nav thumbnail col-md-2 col-sm-4 col-xs-6 col-centered text-center">
  <div>
  <%= form_tag orders_path do %>
    <article>
      <label class="amount">
        <span>Amount: <%= number_to_currency(@amount) %></span>
      </label>
    </article>
  </div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Always pay your debts!"
          data-amount="<%= (@amount.to_f * 100) %>"
          data-locale="auto"
          window.location.href = "/orders"></script>
  <% end %>
</div>

<div class="thumbnail col-md-2 col-md-offset-5 text-center transparent">
<strong><%= link_to "View Past Orders", orders_path %></strong>
</div>
