<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <strong><a class="navbar-brand logo" href="/">WESTEROS OUTFITTERS</a></strong>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/items">Items</a>
      </li>
      <li>
        <a href="/cart">View Cart (<%= @cart.count_of(@cart.contents) %> Items)</a>
      </li>
      <li>
        <% if current_user.nil? %>
        <%= link_to "Create An Account", new_user_path %>
        <% else %>
        <a href="/dashboard">Logged in as '<%= current_user.username %>'</a>
        <% end %>
      </li>
      <li>
        <% if current_user.nil? %>
        <%= link_to "Login", login_path %>
        <% else %>
        <%= link_to "Logout", logout_path, method: :delete %>
        <% end %>
    </li>
    </ul>
  </div>
</nav>
