<!DOCTYPE html>
<html>
<head>
  <title>WesterosOutfitters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>
  <% flash.each do |type, message| %>
  <%= content_tag :div, message, class: "flash_#{type}" %>
  <% end %>
</p>
  <p>
    Cart: <%= @cart.count_of(@cart.contents) %>
  </p>
  <%= render 'layouts/navbar' %>
<%= yield %>

</body>
</html>
