<!DOCTYPE html>
<html>
  <head>
    <title>WesterosOutfitters</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <p class="strong animated shake">
      <% flash.each do |type, message| %>
        <%= sanitize(message) %>
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
